*{
    background: rgb(90, 88, 88);
}
.row{
    display: flex;
}

.row .left{
    width: 50%;
}

.row .right{
    width: 50%;
}


.card{
    overflow: scroll;
    background: rgb(124, 119, 119);
    background: linear-gradient(rgb(175, 175, 175),rgb(76, 75, 75));
    /*display: inline-table;*/
    border-radius: 35px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    transition: transform 0.5s;

}

.card:hover{
   transform: translateY(-2%);
}

.card1{
    width: 90%;
    height: 240px;
}

.card2{
    width: 95%;   
    height: 240px;
}

.row2{
    display: flex;
}

.row2 .col1{
    width: 20%;
}

.row2 .col2{
    width: 30%;
}

.row2 .col3{
    width: 25%;
}

.row2 .col4{
    width: 25%;
}

.card3{
   width: 75%;
    height: 100px;
}

.card4{
    width: 75%;
    height: 110px;
}

.card5{
 width: 90%;
 height: 240px;
}

.card6{
    width: 90%;
    height: 240px;
}

.card7{
    width: 90%;
    height: 240px;
}





