* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.mainBox {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: auto;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgb(5, 5, 58), rgb(5, 6, 71), rgb(1, 1, 15));
    display: grid;
    grid-template-areas: 'tableBox tableBox tableBox chart chart chart' 'donutChart donutChart alert suspiciousWebsite ip ip' 'donutChart donutChart alert suspiciousWebsite ip ip';
    gap: 5px;
    padding: 5px;
    align-content: space-between;
}

.tableBox {
    overflow: scroll;
    padding-left: 40px;
    padding-top: 40px;
    width: 45vw;
    height: 40vh;
    background: transparent;
    grid-area: tableBox;
    scrollbar-width: none;
}

.table {
    height: auto;
    width: 90%;
    text-align: center;
    margin: 15px auto;
    overflow: scroll;
    border-spacing: 15px;
    /* background-color: yellow; */
}

.table {
    color: white;
    background-color: #3D4353;
    border-radius: 25px;
    margin: 20px;
    padding: 25px;
}

#curve_chart {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.chart {
    overflow: hidden;
    padding: 30px;
    height: 40vh;
    width: 50vw;
    margin: 0px auto;
    grid-area: chart;
}

.chart1 {
    overflow: scroll;
    scrollbar-width: none;
    grid-area: donutChart;
    margin-left: 1vw;
    background-image: linear-gradient(180deg, rgb(5, 10, 83), rgba(9, 7, 53, 0.733));
    border-radius: 25px;
    color: #ffffff;
    padding: 20px;
    width: 24vw;
    /*display: none;*/
}

.right {
    float: right;
}

.alert {
    overflow-y: scroll;
    scrollbar-width: none;
    grid-area: alert;
    background-image: linear-gradient(180deg, rgb(11, 16, 92), rgba(9, 7, 41, 0.733));
    border-radius: 40px;
    color: #ffffff;
    margin-right: 10px;
    width: 22vw;
    height: 100%;
    /*height: 25vh;*/
}

.alarm {
    overflow: hidden;
    grid-area: alarm;
    background-image: linear-gradient(180deg, rgb(7, 12, 88), rgba(2, 2, 17, 0.733));
    border-radius: 40px;
    border-radius: 40px;
    color: #ffffff;
    padding: 40px 20px;
    width: 250px;
    display: none;
}

.suspiciousWebsite {
    /* overflow: hidden; */
    grid-area: suspiciousWebsite;
    background-image: linear-gradient(180deg, rgb(5, 10, 83), rgba(4, 3, 27, 0.733));
    border-radius: 40px;
    color: #ffffff;
    /* padding: 10px; */
    width: 18vw;
    overflow: scroll;
    scrollbar-width: none;
}

.suspiciousWebsite h1{
    margin-top: 1vh;
    font-size: 38px;
}
.ip {
    overflow: scroll;
    grid-area: ip;
    background-color: transparent;
    border-radius: 40px;
    color: #ffffff;
    padding: 20px;
    width: 500px;
    scrollbar-width: none;
}




#urls {
    /*position: relative;*/
    position: flex;
    align-items: center ;
    justify-content: center;
    top: 60%;
    background-color: white;
    border-radius: 25px;
    margin-top: 20px;
    width: 15vw;
    height: 5vh;
    color: white;
    /* align-items: center; */
    text-align: center;
    font-weight: 400;
    font-size: large;
    overflow: scroll;
    scrollbar-width: none;
}

.box {
    height: 80px;
    width: 400px;
    /*background-color: rgba(59, 59, 59, 0.884);*/
    background-color: linear-gradient(180deg, rgb(11, 16, 92), rgba(9, 7, 41, 0.733));;
    margin: auto;
    /*border-bottom: 3px solid rgb(116, 113, 113);*/
    padding: 5px;
    border-radius: 8px;
    overflow: hidden;
    /*display: none;*/
}

.innerBox {
    background-color: #ffffff;
    border-radius: 10px;
    color: #49a5e7;
    padding: 7px;
    overflow: hidden;
    box-shadow: 5px 10px 8px rgba(0,0,0,0.5);
    /*display: none;*/
}

p {
    font-weight: bolder;
}

span {
    color: black;
}

p {
    margin: 0px;
}

.table1 {
    height: auto;
    width: 90%;
    text-align: center;
    margin: 15px auto;
    overflow: scroll;
}

.table1 th {
    background-color: #3d4353;
    padding: 20px;
    color: white;
    font-size: 20;
    overflow: hidden;
}

.table1 td {
    background-color: #3c4252;
    margin-top: 5px;
    padding: 10px;
    color: white;
    border-radius: 15px;
    overflow: hidden;
}

#preLoader {
    background: #000 url(/assets/preloader2.gif) no-repeat center center;
    background-size: 100%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

#arpAlert {
    padding-left: 1vw;
    height: 7vh;
    width: 18vw;
    border-radius: 11px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    /*animation: animate 2.5s linear infinite;*/
}



#arpAlert img {
    margin-right: 1vw;
    height: 25px;
    width: 25px;
}

#synAlert {
    padding-left: 1vw;
    height: 7vh;
    width: 18vw;
    border-radius: 11px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}

#synAlert img {
    /*margin-left: 8vw;*/
    margin-right: 1vw;
    height: 25px;
    width: 25px;
    z-index: 100;
}

#icmpAlert {
    padding-left: 1vw;
    height: 7vh;
    width: 18vw;
    border-radius: 11px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}

#icmpAlert img {
    margin-right: 1vw;
    height: 25px;
    width: 25px;
}

#arpAlertAttack {
    padding-left: 1vw;
    height: 7vh;
    width: 18vw;
    border-radius: 11px;
    /* background-color: grey; */
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: medium;
    /* display: none; */
}

#arpAlertAttack img {
    margin-left: 7vw;
    height: 25px;
    width: 25px;
}



 @keyframes animate {
            0% {
                opacity: 0;
            }
  
            50% {
                opacity: 0.9;
            }
  
            100% {
                opacity: 0;
            }
        }

.cvetableBox{
/*background-color: red;*/
display: flex;
justify-content: space-between;
/*height: 100%;*/
width: 100%;
}

#cveHeading{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 5vw;
    background-color: white;
    color: black;
}

.cveContent{
    margin-left: 1vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    scrollbar-width: none;
}

.first{
    margin-left:-2px;
}

.second{
    margin-left: 20px;
}
.third{
    justify-content: right;
    align-items: flex-end;
    margin-right: -10px;
}

