<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <title></title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="index.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Protocol', 'Percentage'],
          ['TCP',  15],
          ['ICMP', 25],
          ['UDP',  50],
          ['SSL', 10],
        ]);

        var options = {
          title: '',
          pieHole: 0.5,
          pieSliceTextStyle: {
            color: 'white',
          },
          legend: { position: 'none'},
          backgroundColor: 'transparent',
        };
        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);
    
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Text', 'Sales', 'Expenses'],
              ['Text',  1000,      400],
              ['Text',  1170,      460],
              ['Text',  660,       1120],
              ['Text',  1030,      540],
              ['Text',  1000,      400],
              ['Text',  1170,      460],
              ['Text',  660,       1120],
              ['Text',  1030,      540]
            ]);
    
            var options = {
              title: '',
              curveType: 'function',
              backgroundColor: 'transparent',
            };
    
            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
    
            chart.draw(data, options);
          }
        </script>
  </head>
  <style>
    </style>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <div class="mainBox">
        <div class="tableBox">
            <table class="table">
                <thead>
                  <tr class="tableHead">
                    <th>No.</th>
                    <th>Time</th>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Protocol</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1.4839</td>
                        <td>10.2.12.1</td>
                        <td>224.0.0.5</td>
                        <td>OSPF</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>1.5153</td>
                        <td>10.31.166.12</td>
                        <td>10.2.12.140</td>
                        <td>UDP</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>2.1898</td>
                        <td>191.1.192.11</td>
                        <td>10.2.12.140</td>
                        <td>TLSv1.2</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                </tbody>
              </table>
        </div>
        <div class="chart">
          <div id="curve_chart"></div>
      </div>
      <div class="chart1">
      <center>
      <div id="donutchart"></div>
     </center>
      <ul type="square">
        <li class="first">UDP <span class="right">XXX</span> </li>
        <li class="second">TCP <span class="right">XXX</span> </li>
        <li class="third">ICMP <span class="right">XXX</span> </li>
        <li class="fourth">SSl <span class="right">XXX</span> </li>
      </ul>
    </div>
    <div class="alert">
      <center><h1>Alert</h1>
      <img src="warning.png" alt="" height="90px">
      </center>
    </div>
    <div class="alarm">
      <center>
      <img src="alarm.png" alt="" height="90px">
    </center>
    </div>
    <div class="suspiciousWebsite">
      <center>
      <h1>Suspicious <br> Websites</h1>
    </center>
      <ul type="none" class="colList">
        <li>1. subtitleseeker.com</li>
        <li>2. finance.co</li>
        <li>3. delgets.com</li>
        <li>4. </li>
        <li>5. </li>
        <li>6. </li>
        <li>7. </li>
      </ul>

    </div>
    <div class="ip">
      <div class="box">
        <div class="innerBox">
        <p>Current IP: <span>192.168.1.2</span>
          <br>
          Current MAC: <span>AB:13:90:5C:78:45</span></p>
      </div>
      </div>
      <table class="table1">
        <tr>
          <th style="border-top-left-radius: 15px;border-bottom-left-radius: 15px;">IP</th>
          <th>MAC</th>
          <th style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;">VENDOR</th>
        </tr>
      </table>
      <table class="table1" cellspacing="10" style="border-collapse: separate;" >
          <tr>
            <td>192.168.1.1</td>
            <td>14:A7:2B:80:A9:64</td>
            <td>(currenttoptronics Pvt.Ltd)</td>
          </tr>
          <tr>
            <td>192.168.1.33</td>
            <td>E4:46:DA:B7:CC:73</td>
            <td>(Intel Corporate )</td>
          </tr>
          <tr>
            <td>192.168.1.35</td>
            <td>E4:46:DA:B7:CC:73</td>
            <td>(Xiaomi Communications)</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      </table>
    </div>
    </div>
  </body>
</html>