<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Network Packet Analyser</title>
    <!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="index.js"></script>


    <script type="text/javascript">
        let lineDataChart = [
            ["Text", "UDP", "TCP"],
        ];
        google.charts.load('current', {
            'packages': ['corechart']
        });
        google.charts.setOnLoadCallback(drawChart);

        function drawLineChart() {
            var data = google.visualization.arrayToDataTable(
                lineDataChart
            );

            var options = {
                title: '',
                curveType: 'function',
                colors: ['red', '#fcb441'],
                backgroundColor: 'transparent',
                // backgroundColor: 'white',
                legend: {
                    position: 'bottom',
                    textStyle: {
                        color: 'white'
                    }
                },
                vAxis: {
                    textStyle: {
                        color: '#FFF'
                    }
                },
                hAxis: {
                    textStyle: {
                        color: 'white'
                    }
                }
            };

            // var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
            // var chart = new google.visualization.AreaChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }
    </script>
</head>
<style>

</style>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <div id="preLoader"></div>

    <div class="mainBox">
        <div class="tableBox">
            <table class="table1">
                <tr>
                    <th style="border-top-left-radius: 15px;border-bottom-left-radius: 15px;">IP</th>
                    <th>Port</th>
                    <th>Status</th>
                    <th>Product</th>
                    <th style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;">Version</th>
                </tr>
            </table>
            <table class="table1" cellspacing="10" style="border-collapse: separate;">
                {% for ip in (ipList) %} {% for key in ((dictionary['scan'][ip]['tcp']).keys()) %}

                <tr>
                    <td>{{ip}}</td>
                    <td>{{key}}</td>
                    <td>{{dictionary['scan'][ip]['tcp'][key]['state']}}</td>
                    <td>{{dictionary['scan'][ip]['tcp'][key]['name']}}</td>
                    <td>{{dictionary['scan'][ip]['tcp'][key]['product']}}</td>
                    <td>{{dictionary['scan'][ip]['tcp'][key]['version']}}</td>
                </tr>
                {% endfor %} {% endfor %}

                <!-- <tr>
                    <td>192.168.1.1</td>
                    <td>14:A7:2B:80:A9:64</td>
                    <td>(currenttoptronics Pvt.Ltd)</td>
                    <td>(currenttoptronics Pvt.Ltd)</td>
                </tr> -->

            </table>
        </div>
        <div class="chart">
            <div id="curve_chart" style="color: white;">
                <table class="wiresharkHeading">
                    <tr>
                        <th style="border-top-left-radius: 15px;border-bottom-left-radius: 15px;">Source</th>
                        <th>Destination</th>
                        <th style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;">Protocol</th>
                    </tr>
                </table>
                <table class="wiresharkBody" cellspacing="10" style="border-collapse: separate;">

                    <tbody class="innerwiresharkBody">
                        
                    </tbody>
                </table>
            </div>
        </div>
        <!-- <div class="chart1">
            <center>
                <div id="donutchart"></div>
            </center>
            <ul type="square">
                <li class="first">UDP <span class="right">XXX</span> </li>
                <li class="second">TCP <span class="right">XXX</span> </li>
                <li class="third">ICMP <span class="right">XXX</span> </li>
                <li class="fourth">SSl <span class="right">XXX</span> </li>
            </ul>
        </div> -->

        <div class="chart1">
            <div class="cvetableBox">
                <div id="cveHeading">IP</div>
                <div id="cveHeading">Product</div>
                <div id="cveHeading">CVE</div>
            </div>
            <!--             <div class="cveContent">
                <p class="first">192.168.1.100</p>
                <p class="second">dnsmaq</p>
                <p class="third">CVE-2021-5686457</p>
            </div>
            <hr>
 -->
            {% for i in range(cveList | length)%}
            <div class="cveContent">
                <p class="first">{{cveList[i][0]}}</p>
                <p class="second">{{cveList[i][1]}}</p>
                <p class="third">{{cveList[i][2]}}</p>
            </div>
            <hr> {%endfor%}
        </div>
        <div class="alert">
            <center>
                <h1>Alert</h1>
                <br>
                <p id='arpAlert'>ARP Safe!! <img class="arpAlertIcon" src="../static/images/check.png"></p>
                <!-- <p id='dosAlert'>DOS Safe!!</p> -->
                <br>
                <p id='synAlert'>SYN Safe!! <img class="synAlertIcon" src="../static/images/check.png"></p>
                <br>
                <p id='icmpAlert'>ICMP Safe!! <img id="icmpAlertIcon" src="../static/images/check.png"></p>
                <br>
                <!-- <img src="warning.png" alt="" height="90px"> -->
            </center>
        </div>
        <!-- <div class="alarm">
            <center>
                <img src="alarm.png" alt="" height="90px">
            </center>
        </div> -->
        <div class="suspiciousWebsite">
            <center>
                <h1>Suspicious Websites</h1>
            </center>
            <ul type="none" class="colList">
                <!-- <li id="urls"></li>
                <li>1. subtitleseeker.com</li>
                <li>2. finance.co</li>
                <li>3. delgets.com</li>
                <li>4. </li>
                <li>5. </li>
                <li>6. </li>
                <li>7. </li> -->
            </ul>

        </div>
        <div class="ip">
            <div class="box">
                <div class="innerBox">
                    <p>Current IP: <span>{{currentIP}}</span>
                        <br> Current MAC: <span>{{currentMAC}}</span></p>
                </div>
            </div>
            <table class="table1">
                <tr>
                    <th style="border-top-left-radius: 15px;border-bottom-left-radius: 15px;">IP</th>
                    <th>MAC</th>
                    <th style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;">VENDOR</th>
                </tr>
            </table>
            <table class="table1" cellspacing="10" style="border-collapse: separate;">
                <tbody>
                    {% for ip in range(networkIPs|length) %}
                    <tr>
                        <td>{{networkIPs[ip][0]}}</td>
                        <td>{{networkMAC[ip]}}</td>
                        <td>{{vendor[ip]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>


                <!-- <tr>
                    {% for ip in (ipList) %}

                    {% for key in ((dictionary['scan'][ip]['tcp']).keys()) %}

                    <tr>
                        <td>{{ip}}</td>
                        <td>{{key}}</td>
                        <td>{{dictionary['scan'][ip]['tcp'][key]['state']}}</td>
                        <td>{{dictionary['scan'][ip]['tcp'][key]['name']}}</td>
                        <td>{{dictionary['scan'][ip]['tcp'][key]['product']}}</td>
                        <td>{{dictionary['scan'][ip]['tcp'][key]['version']}}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tr> -->
            </table>
        </div>
    </div>



    <script>
        socket = io();
        socket.connect('http://127.0.0.1:5000/');

        socket.on('connect', function() {
            socket.send('a')
        })


        socket.on('urlAdded', function(data) {
            renderUrls(data['list']);
        })

        socket.on('capturedPackets', function(data) {
            console.log("Packets Captured")

            renderPackets(data['packets'])
                // console.log(data['packets'])
        })



        const urlsElement = document.querySelector(".colList");
        const renderUrls = (urls) => {
            // document.querySelector(".colList").innerHTML = ""
            urlsElement.innerHTML = "";
            urls.forEach(url => {
                if (url.length == 0) return;

                if ((url[1] == 0)) return;
                if ((url[1]) <= 10) {
                    urlsElement.innerHTML += `<li id="urls" style="background-color:#FA6464;display:flex;justify-content:center;align-items:center;">${url[0]}</li>`;
                } else if ((url[1]) <= 20) {
                    urlsElement.innerHTML += `<li id="urls" style="background-color:#9E0101;display:flex;justify-content:center;align-items:center;">${url[0]}</li>`;

                } else {
                    urlsElement.innerHTML += `<li id="urls" style="background-color:#FF0000;display:flex;justify-content:center;align-items:center;">${url[0]}</li>`;
                }

                // urlsElement.innerHTML += `<li>${url[0]}</li>`;
                // urlsElement.innerHTML += `<li>${url[1]}</li>`;
            });
        };





        wiresharkBodyElement = document.querySelector('.wiresharkBody')
        const renderPackets = (urls) => {
            // wiresharkBodyElement.innerHTML = ""
            // document.querySelector(".colList").innerHTML = ""
            // urlsElement.innerHTML = "";
            urls.forEach(url => {
                // console.log(url)

                wiresharkBodyElement.innerHTML += `
                <tbody>
                        <tr>
                            <td>
                                ${url[0]}
                            </td>
                            <td>
                                ${url[1]}
                            </td>
                            <td>
                                ${url[2]}
                            </td>
                        </tr>
                        </tbody>`
            })
        };


        var udpNum = 0
        var tcpNum = 0
        var graphTime = 0
        setInterval(() => {
            graphTime += 5
            tcpNum = tcpNum + Math.floor(Math.random() * 6);

            udpNum = udpNum + Math.floor(Math.random() * 1.5);

            // line chartUpdation
            lineDataChart.push([
                `${graphTime}`, udpNum, tcpNum
            ]);
            drawLineChart();

        }, 3000)
    </script>

    <script>
        arpElement = document.querySelector("#arpAlert")
        dosElement = document.querySelector("#dosAlert")
        synElement = document.querySelector("#synAlert")
        icmpAttackElement = document.querySelector("#icmpAlert")

        socket.on('ddos', function() {
            console.log("ddos attacked");
            dosElement.innerHTML = `<p> Under DoS Attack!!</p>`
        })

        socket.on('synattack', function() {
            console.log("SYN attack");
            synElement.innerHTML = `<p style='color:#CA0D0D; animation: animate 2.5s linear infinite;'> SYN Attack!!</p> <img id="arpAlertIcon" src="../static/images/xbutton.png">`
            synElement.style.fontSize = '15px'
            document.getElementById('synAlertIcon').style.marginLeft = '5vw'
        })

        socket.on('icmpattack', function() {
            console.log("ICMP attack");
            icmpAttackElement.innerHTML = `<p style='color:#CA0D0D; animation: animate 2.5s linear infinite;'> ICMP Attack!!</p> <img id="arpAlertIcon" src="../static/images/xbutton.png">`
            icmpAttackElement.style.fontSize = '15px'
            document.getElementById('icmpAlertIcon').style.marginLeft = '5vw'
                // document.querySelector('.icmpAlertIcon').src = "{{url_for('static',filename = 'images/xbutton.png')}}"


        })

        socket.on('arp', function() {
            console.log("arp attacked");

            arpElement.innerHTML = `<p style='color:#CA0D0D; animation: animate 2.5s linear infinite;'> Arp Attacked!!</p> <img id="arpAlertIcon" src="../static/images/xbutton.png">`
            arpElement.style.fontSize = '15px'
            document.getElementById('arpAlertIcon').style.marginLeft = '5vw'
        })
    </script>


    <!--     <script>
        arpAttackElement = document.querySelector("#arpAlert")
        arpAttackElement.innerHTML = `<p style='color:#CA0D0D; animation: animate 2.5s linear infinite;'> Arp Attacked!!</p> <img id="arpAlertIcon" src="../static/images/xbutton.png"> `
        // arpAttackElement.style.color = '#CA0D0D'
        document.querySelector('.arpAlertIcon').src = '../assets/x-button.png'

    </script> -->
    <script>
        var loader = document.querySelector('#preLoader');

        window.addEventListener('load', function() {
            loader.style.display = "none"
        })
    </script>
</body>


</html>